$screen-tn-min: 320px; // Small phones
$screen-xs-min: 460px; // Large phones and small phones (landscape view)
$screen-sm-min: 700px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 980px; // Small tablets (portrait view)
$screen-lg-min: 1300px; // Tablets and small desktops
$screen-xl-min: 1700px; // Large tablets and desktops
$screen-xxl-min: 2400px; // Large desktops

@mixin tn {
	@media (min-width: #{$screen-tn-min}) {
		@content;
	}
}

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: #{$screen-xxl-min}) {
		@content;
	}
}

@mixin rwd($screen) {
	@media (min-width: ($screen+'px')) {
		@content;
	}
}
