@mixin pagePadding() {
	& {
		max-width: var(--prop-maxSiteWidth);

		margin-left: auto;
		margin-right: auto;

		padding-left: $padding-md;
		padding-right: $padding-md;
	}
}

@mixin noScrollBar() {
	& {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}
}
