// Colors
$dark-color: #2e2e2e;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$primary-background: #1e1e1e;

// text colors
$text-white: #fff;

// Typography
$font-family-sans: 'Comfortaa', sans-serif;
$font-family-serif: 'Comfortaa', serif;
$base-font-size: 16px;
$heading-font-size: 24px;

// Spacing
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
