// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;

// text colors
$text-white: #fff;

// Typography
$font-family-sans: 'Arial', sans-serif;
$font-family-serif: 'Georgia', serif;
$base-font-size: 16px;
$heading-font-size: 24px;

// Spacing
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;