/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

  Mixed with Andy Bell's Modern CSS Reset
  https://piccalil.li/blog/a-more-modern-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
}

html {
	margin: 0;
	padding: 0;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: inherit;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

a {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

img,
picture {
	max-width: 100%;
	display: block;
}

:target {
	scroll-margin-block: 5ex;
}

ul {
	list-style: none;
	text-decoration: none;
}

li {
	text-decoration: none;
}

a {
	text-decoration: none;
}
